<!-- plp_ecommerce.html -->
{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PLP Ecommerce</title>
    <meta name="vieport" content="width=device-width, initial=scale=1.0" />
    <link rel="stylesheet" href="{% static "plp_ecommerce/style.css" %}">
</head>
<body>
    <h1>Welcome to PLP Ecommerce!</h1>
    <nav>
        <ul>
            <li><a href="{% url 'plp_ecommerce:product_list' %}">Products</a></li>
            <li><a href="{% url 'plp_ecommerce:customer_list' %}">Customers</a></li>
        </ul>
    </nav>
</body>
</html>
