{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{product.name}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{% static "plp_ecommerce/style.css" %}">
</head>
<body>


    <ul>
            {% for product in product %}
        <li>
            </h2>{{product.name}}</h2>
            <p> {{ product.description}} </p>
            <p> price: Kshs.{{ product.price }}</p>
            <img src="{{product.image.url}}" alt="{{product.name}}">
            <p> Availability: {{product.availailable|yesno:"Yes,No"}} </p>

        </li>
    {% endfor %}
    </ul>
  {% comment %}
      <a href="{% url 'plp_ecommerce:product_list'%}" class="back_link">Back to Product List</a> 
  {% endcomment %}
</body>

</html>    


