body {
    background: white url("./media/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
h1 {
    color: azure;
    
}
a {
    color: white;
}